@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.home-btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(45deg, #fe3072, #ff5940);
  border-radius: 1.5rem;
  border: none;
  padding: 12px 30px;
  transition: all 1.1s;
}

.home-btn:hover {
  background: linear-gradient(260deg, #fe3072, #ff5940);
  opacity: 1;
  transform: scale(1.1);
}
